@import "./variables.scss";

.wrapper {
    margin-top: 13.75rem;
    margin-bottom: 3.75rem;
}

.stroke {
    border: 1px solid #42446E;
    opacity: 0.3;
}

.email {
    font-family: 'DM' sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    color: $white2;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
}

.heart {
    color: red;
}