@import "./variables.scss";

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
    position: sticky;
    top: 0;
    z-index: 999;
    background: $background;
}

.name {
    color: $white;
    font-family: 'Forum', cursive;
    font-size: 2.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link {
    color: $white;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    padding: 0 2rem;
    cursor: pointer;
}

.socials {
    padding: 0 2rem;
    display: flex;
    gap: 1rem;


}